In [2]:
import pandas as pd
import numpy as np

In [3]:
scraped_df = pd.read_csv("yellowpages_newyork.csv")

In [4]:
scraped_df

,Restaurant ID,Name,Type of Restaurant,Trip Advisor Rating,TA Review Count,Yellow Pages Rating,YP Review Count,Phone Number,Street Address,Locality,Zipcode,Dollar Costs,Years in Business,Website,Menu URL,Secondary Info,Order Online Status
0,1,EJ's Luncheonette,"['Restaurants', 'American Restaurants', 'Cater...",4.0,268.0,NaN,NaN,(212) 472-0600,1271 3rd Ave Close To The 72nd Street Crosstow...,"New York City, NY 10021",10021,Average,33.0,http://www.ejsluncheonette.com,https://www.yellowpages.com/new-york-city-ny/m...,From Business: EJ's Luncheonette is a NYC icon...,1
1,2,Route 66 Cafe,"['Restaurants', 'American Restaurants', 'Coffe...",4.0,396.0,['five'],1.0,(212) 977-7600,858 9th Ave Between 55th And 56th Streets,"New York City, NY 10019",10019,Average,27.0,http://www.route66nyc.com,https://www.yellowpages.com/new-york-city-ny/m...,Great American style food but not a low end bb...,1
2,3,The Sea Fire Grill,"['Restaurants', 'Seafood Restaurants', 'Bars']",4.5,1149.0,['four'],1.0,(212) 935-3785,158 E 48th St Between 3rd And Lexington Avenue,"New York City, NY 10017",10017,Very High,11.0,http://www.theseafiregrill.com,https://www.yellowpages.com/new-york-city-ny/m...,"My husband and I went to Manhattan, N.Y. to ce...",0
3,4,Bobo,"['Restaurants', 'Continental Restaurants', 'Ba...",4.0,207.0,['four'],1.0,(212) 488-2626,181 W 10th St At Seventh Avenue,"New York City, NY 10014",10014,Very High,16.0,http://www.bobonyc.com,https://www.yellowpages.com/new-york-city-ny/m...,We ordered Duck and Scallopsboth great!dont le...,1
4,5,Koi Restaurant,"['Restaurants', 'Sushi Bars', 'Family Style Re...",4.0,848.0,NaN,NaN,(212) 921-3330,40 W 40th St Bryant Park Hotel,"New York City, NY 10018",10018,High,18.0,http://www.koirestaurant.com,https://www.yellowpages.com/new-york-city-ny/m...,"From Business: Rich earth tones of orange, red...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,Cafe 11,"['Restaurants', 'Sushi Bars', 'Caterers']",4.5,20.0,NaN,NaN,(212) 425-2233,11 Broadway,"New York, NY 10004",10004,Low,75.0,http://www.cafe11nyc.com,https://www.yellowpages.com/new-york-ny/mip/ca...,NaN,0
2996,2997,Saketumi Asian Bistro,"['Restaurants', 'Thai Restaurants', 'Caterers']",4.5,24.0,NaN,NaN,(718) 855-8688,118 Montague St,"Brooklyn, NY 11201",11201,Average,17.0,http://www.tendaasianbistrobrooklyn.com,https://www.yellowpages.com/brooklyn-ny/mip/sa...,NaN,0
2997,2998,Canaletto,"['Restaurants', 'Italian Restaurants']",4.0,64.0,NaN,NaN,(212) 317-9192,208 E 60th St,"New York, NY 10022",10022,High,24.0,NaN,NaN,NaN,0
2998,2999,Julius,"['Restaurants', 'American Restaurants', 'Bars']",4.5,33.0,NaN,NaN,(212) 243-1928,159 W 10th St,"New York, NY 10014",10014,Low,38.0,http://www.juliusbarny-old.com,NaN,NaN,0
2999,3000,Professor Thom's,"['Restaurants', 'American Restaurants', 'Bars']",4.5,39.0,NaN,NaN,(212) 260-9480,219 2nd Ave,"New York, NY 10003",10003,Average,17.0,http://www.professorthoms.com,NaN,NaN,0

In [5]:
ahistoric_df = pd.read_csv("./data_csvs/Open_Restaurant_Applications__Historic__20231202.csv")

In [6]:
ahistoric_df

,objectid,globalid,Seating Interest (Sidewalk/Roadway/Both),Restaurant Name,Legal Business Name,Doing Business As (DBA),Building Number,Street,Borough,Postcode,...,healthCompliance_terms,Time of Submission,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,13610,{FD87ABAA-860E-4762-845D-8F0403D0246B},roadway,MADAME BONTE,BEANHOUSE LLC,MADAME BONTE,NaN,318 EAST 84 STREET,Manhattan,10028,...,yes,06/09/2022 04:26:00 PM,40.776277,-73.952051,8.0,5.0,138.0,1049941.0,1.015460e+09,Yorkville
1,5900,{3B07E4C0-07B7-4079-8333-64446CC3EE03},sidewalk,Seasoned Vegan,"Seasoned Vegan, LLC","Seasoned Vegan, LLC",55,St. Nicholas Avenue,Manhattan,10026,...,yes,06/26/2020 08:38:00 PM,40.800500,-73.952507,10.0,9.0,216.0,1054995.0,1.018220e+09,Central Harlem South
2,13018,{137C575D-DC14-4F9D-83D9-A3FFE513B3B8},sidewalk,AMERICAS CAFE &amp; GRILL,68TH GRILL INC,AMERICAS CAFE &amp; GRILL,NaN,1159 3 AVENUE,Manhattan,10065,...,yes,10/22/2021 11:01:00 AM,40.766845,-73.962708,8.0,4.0,118.0,1043896.0,1.014220e+09,Lenox Hill-Roosevelt Island
3,11630,{15270732-2A78-4C24-89DD-BE8DD916F115},roadway,SUSHI SEKI,SEKI INC,SUSHI SEKI,undefined,208 WEST 23 STREET,Manhattan,10011,...,yes,12/14/2020 07:54:00 PM,40.744338,-73.996240,4.0,3.0,91.0,1014129.0,1.007720e+09,Hudson Yards-Chelsea-Flatiron-Union Square
4,13137,{EF9C8173-91D1-496E-8BD4-B02BEADC2A21},roadway,Sami &amp; Susu,AMIR NATHAN,Sami & Susu,NaN,190 ORCHARD STREET,Manhattan,10002,...,yes,12/22/2021 12:46:00 PM,40.722124,-73.988160,3.0,1.0,3001.0,1005393.0,1.004120e+09,Chinatown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14423,9799,{108C6784-54DB-480B-8627-CF0495D27A0E},both,KING OF SPADES INC.,KING OF SPADES INC.,KING OF SPADES INC.,1425,COLLEGE POINT BLVD,Queens,11356,...,yes,08/04/2020 03:27:00 PM,40.784739,-73.845776,7.0,19.0,929.0,4098349.0,4.040850e+09,College Point
14424,8215,{7B8EC275-D470-4106-819E-03FC0E1F9717},both,LA QUEEN TEA HOUSE INC,LA QUEEN TEA HOUSE INC,LA QUEEN TEA HOUSE INC,752B,61ST ST,Brooklyn,11220,...,yes,07/13/2020 03:53:00 PM,40.635543,-74.011220,7.0,38.0,118.0,3143885.0,3.057940e+09,Sunset Park East
14425,2895,{476f88d2-d3e8-4e83-8686-8bac2f752cf5},sidewalk,aahar indina cuisine,vidhan bhatt inc.,vidhan bhatt inc.,10,murray street,Manhattan,10007,...,yes,06/21/2020 01:46:00 PM,40.713298,-74.007773,1.0,1.0,21.0,1001399.0,1.001240e+09,SoHo-TriBeCa-Civic Center-Little Italy
14426,607,ff0d04ef-1d9a-47d6-8f20-8bdbdbce2792,sidewalk,le cafe coffee,le cafe coffee llc,le cafe coffee llc,145,fourth av,Manhattan,10003,...,yes,06/19/2020 01:19:00 PM,40.733916,-73.989872,3.0,2.0,42.0,1077569.0,1.005590e+09,East Village
14427,6641,{9DBBF87C-AE3D-4487-81A4-30E44806614F},both,KASHKAVAL GARDEN,KASHKAVAL Kitchen LLC,KASHKAVAL Kitchen LLC,852,9th Avenue,Manhattan,10019,...,yes,06/30/2020 10:33:00 PM,40.766927,-73.986423,4.0,3.0,139.0,1025423.0,1.010460e+09,Clinton

In [7]:
ahistoric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14428 entries, 0 to 14427
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   objectid                                  14428 non-null  int64
 1   globalid                                  14428 non-null  object
 2   Seating Interest (Sidewalk/Roadway/Both)  14428 non-null  object
 3   Restaurant Name                           14427 non-null  object
 4   Legal Business Name                       14427 non-null  object
 5   Doing Business As (DBA)                   14416 non-null  object
 6   Building Number                           12776 non-null  object
 7   Street                                    14428 non-null  object
 8   Borough                                   14428 non-null  object
 9   Postcode                                  14428 non-null  int64
 10  Business Address                          14428 non-null  object
 11  Food Service Establishment Permit #       14422 non-null  object
 12  Sidewalk Dimensions (Length)              12118 non-null  float64
 13  Sidewalk Dimensions (Width)               12118 non-null  float64
 14  Sidewalk Dimensions (Area)                12118 non-null  float64
 15  Roadway Dimensions (Length)               9054 non-null   float64
 16  Roadway Dimensions (Width)                9054 non-null   float64
 17  Roadway Dimensions (Area)                 9054 non-null   float64
 18  Approved for Sidewalk Seating             14428 non-null  object
 19  Approved for Roadway Seating              14428 non-null  object
 20  Qualify Alcohol                           14428 non-null  object
 21  SLA Serial Number                         9448 non-null   object
 22  SLA License Type                          9449 non-null   object
 23  Landmark District or Building             14428 non-null  object
 24  landmarkDistrict_terms                    2129 non-null   object
 25  healthCompliance_terms                    14428 non-null  object
 26  Time of Submission                        14428 non-null  object
 27  Latitude                                  13121 non-null  float64
 28  Longitude                                 13121 non-null  float64
 29  Community Board                           13121 non-null  float64
 30  Council District                          13121 non-null  float64
 31  Census Tract                              13121 non-null  float64
 32  BIN                                       13026 non-null  float64
 33  BBL                                       13026 non-null  float64
 34  NTA                                       13121 non-null  object
dtypes: float64(13), int64(2), object(20)
memory usage: 3.9+ MB

In [8]:
inspections_df = pd.read_csv("./data_csvs/currentOpenInspections.csv")

In [9]:
inspections_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79203 entries, 0 to 79202
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Borough                 79203 non-null  object
 1   RestaurantName          79195 non-null  object
 2   SeatingChoice           79203 non-null  object
 3   LegalBusinessName       79202 non-null  object
 4   BusinessAddress         79203 non-null  object
 5   RestaurantInspectionID  79203 non-null  int64
 6   IsSidewayCompliant      0 non-null      float64
 7   IsRoadwayCompliant      79203 non-null  object
 8   SkippedReason           19866 non-null  object
 9   InspectedOn             79203 non-null  object
 10  AgencyCode              67240 non-null  object
 11  Postcode                79203 non-null  int64
 12  Latitude                71320 non-null  float64
 13  Longitude               71320 non-null  float64
 14  CommunityBoard          71320 non-null  float64
 15  CouncilDistrict         71320 non-null  float64
 16  CensusTract             71320 non-null  float64
 17  BIN                     70899 non-null  float64
 18  BBL                     70899 non-null  float64
 19  NTA                     71320 non-null  object
dtypes: float64(8), int64(2), object(10)
memory usage: 12.1+ MB

In [10]:
health_df = pd.read_csv("./data_csvs/DOHMH_New_York_City_Restaurant_Inspection_Results_20231202.csv")

In [11]:
health_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209789 entries, 0 to 209788
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  209789 non-null  int64
 1   DBA                    209165 non-null  object
 2   BORO                   209789 non-null  object
 3   BUILDING               209481 non-null  object
 4   STREET                 209783 non-null  object
 5   ZIPCODE                207093 non-null  float64
 6   PHONE                  209781 non-null  object
 7   CUISINE DESCRIPTION    207365 non-null  object
 8   INSPECTION DATE        209789 non-null  object
 9   ACTION                 207365 non-null  object
 10  VIOLATION CODE         206208 non-null  object
 11  VIOLATION DESCRIPTION  206208 non-null  object
 12  CRITICAL FLAG          209789 non-null  object
 13  SCORE                  199793 non-null  float64
 14  GRADE                  102961 non-null  object
 15  GRADE DATE             94208 non-null   object
 16  RECORD DATE            209789 non-null  object
 17  INSPECTION TYPE        207365 non-null  object
 18  Latitude               209512 non-null  float64
 19  Longitude              209512 non-null  float64
 20  Community Board        206553 non-null  float64
 21  Council District       206549 non-null  float64
 22  Census Tract           206549 non-null  float64
 23  BIN                    205541 non-null  float64
 24  BBL                    209243 non-null  float64
 25  NTA                    206553 non-null  object
 26  Location Point1        0 non-null       float64
dtypes: float64(10), int64(1), object(16)
memory usage: 43.2+ MB

In [12]:
health_df['PHONE']

0         6462567220
1         9174174384
2         9176670036
3         6462440734
4         9172957843
             ...
209784    3473719836
209785    3475296090
209786    7189990806
209787    3479634644
209788    2122483838
Name: PHONE, Length: 209789, dtype: object