In [1]:
import pandas as pd
import numpy as np
import html
import matplotlib as plt
pd.set_option('display.max_columns', None)

In [2]:
dohmh_df = pd.read_csv("./data_csvs/DOHMH_New_York_City_Restaurant_Inspection_Results_20231202.csv")

In [3]:
dohmh_df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50106271,SOUR MOUSE,Manhattan,110,DELANCEY STREET,10002.0,6462567220,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,12/01/2023,NaN,40.718640,-73.988481,103.0,1.0,1800.0,1087565.0,1.004100e+09,MN27,NaN
1,50117820,MODELLO BAR - BARCLAYS CENTER,Brooklyn,620,ATLANTIC AVENUE,11217.0,9174174384,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,12/01/2023,NaN,40.683447,-73.975691,302.0,35.0,12902.0,3398156.0,3.011180e+09,BK37,NaN
2,50141790,NaN,Manhattan,30,EAST 20 STREET,10003.0,9176670036,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,12/01/2023,NaN,40.738929,-73.989221,105.0,2.0,5200.0,1016181.0,1.008480e+09,MN13,NaN
3,50134862,FINE AND RAW CHOCOLATE,Brooklyn,70,SCOTT AVENUE,11237.0,6462440734,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,12/01/2023,NaN,40.709853,-73.922706,301.0,34.0,44900.0,3070597.0,3.029900e+09,BK90,NaN
4,50127238,THE DELUXE PARTY KTV,Queens,3420,LINDEN PL,11354.0,9172957843,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,12/01/2023,NaN,40.766275,-73.831338,407.0,20.0,86900.0,4112007.0,4.049500e+09,QN22,NaN

In [4]:
dohmh_df['INSPECTION DATE'].value_counts()

01/01/1900    2424
04/13/2023     597
03/16/2023     585
02/16/2023     564
05/12/2022     551
              ...
11/07/2016       1
04/01/2021       1
04/26/2016       1
10/01/2023       1
05/28/2022       1
Name: INSPECTION DATE, Length: 1675, dtype: int64